eclipse workspace/.metadata/.lock
eclipse workspace/.metadata/*
eclipse workspace/OSGi Address Services Tests/target/*
eclipse workspace/OSGi Address Services/bin/*
eclipse workspace/Servers/*
UML/Address Manager.mdr
UML/Address Manager.mdzip.bak
eclipse workspace/OSGi Address Services Tests/.settings/*
eclipse workspace/OSGi Address Services/.settings/*