eclipse workspace/.metadata/.lock
eclipse workspace/.metadata/*
eclipse workspace/OSGi Address Services Tests/target/*
eclipse workspace/OSGi Address Services/bin/*
eclipse workspace/Servers/*
UML/Address Manager.mdr
UML/Address Manager.mdzip.bak
eclipse workspace/OSGi Address Services Tests/.settings/*
eclipse workspace/OSGi Address Services/.settings/*
UML/Address Manager.mdr.bak
eclipse workspace/OSGi Oracle Database 11g Release 2 JDBC Driver/.settings/org.eclipse.jdt.core.prefs
eclipse workspace/OSGi Oracle Database 11g Release 2 JDBC Driver/.settings/org.eclipse.pde.core.prefs